# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [8]:
import pandas as pd

In [397]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

In [398]:
columnas = df.columns
columnas

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [399]:
df.columns = df.columns.str.lower()
df.head()

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [400]:
df.columns= df.columns.str.replace(" ", "_")
print(df.columns)

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [401]:
df.rename(columns= {'st': 'state'}, inplace=True)
print(df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*

In [402]:
df.groupby("gender").count()

,customer,state,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
gender,,,,,,,,,,
F,457,457,457,456,457,457,457,457,457,457
Femal,17,17,17,17,17,17,17,17,17,17
M,413,413,413,412,413,413,413,413,413,413
Male,39,39,39,39,39,39,39,39,39,39
female,28,28,28,28,28,28,28,28,28,28

In [403]:
df['gender'] = df['gender'].replace({'Male': 'M','Femal': 'F', 'female': 'F'})

In [404]:
df.groupby("gender").count()

,customer,state,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
gender,,,,,,,,,,
F,502,502,502,501,502,502,502,502,502,502
M,452,452,452,451,452,452,452,452,452,452

In [405]:
df["gender"].drop_duplicates()

0    NaN
1      F
3      M
Name: gender, dtype: object

- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*

In [406]:
df.groupby("state").count()

,customer,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
state,,,,,,,,,,
AZ,25,14,25,25,25,25,25,25,25,25
Arizona,186,174,186,186,186,186,186,186,186,186
Cali,120,119,120,120,120,120,120,120,120,120
California,211,174,211,211,211,211,211,211,211,211
Nevada,98,89,98,98,98,98,98,98,98,98
Oregon,320,276,320,320,320,320,320,320,320,320
WA,30,29,30,30,30,30,30,30,30,30
Washington,81,79,81,78,81,81,81,81,81,81

In [407]:
df['state'] = df['state'].replace({'AZ': 'Arizona','Cali': 'California', 'WA': 'Washington'})

In [408]:
df.groupby("state").count()

,customer,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
state,,,,,,,,,,
Arizona,211,188,211,211,211,211,211,211,211,211
California,331,293,331,331,331,331,331,331,331,331
Nevada,98,89,98,98,98,98,98,98,98,98
Oregon,320,276,320,320,320,320,320,320,320,320
Washington,111,108,111,108,111,111,111,111,111,111

- *In education, "Bachelors" could be replaced by "Bachelor"*

In [409]:
df.groupby("education").count()

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
education,,,,,,,,,,
Bachelor,324,324,284,324,324,324,324,324,324,324
Bachelors,7,7,7,7,7,7,7,7,7,7
College,313,313,279,313,313,313,313,313,313,313
Doctor,37,37,35,37,37,37,37,37,37,37
High School or Below,296,296,265,295,296,296,296,296,296,296
Master,94,94,84,92,94,94,94,94,94,94

In [410]:
df['education'] = df['education'].replace({'Bachelors': 'Bachelor'})

In [411]:
df.groupby("education").count()

,customer,state,gender,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
education,,,,,,,,,,
Bachelor,331,331,291,331,331,331,331,331,331,331
College,313,313,279,313,313,313,313,313,313,313
Doctor,37,37,35,37,37,37,37,37,37,37
High School or Below,296,296,265,295,296,296,296,296,296,296
Master,94,94,84,92,94,94,94,94,94,94

- *In Customer Lifetime Value, delete the `%` character*

In [412]:
df.groupby("customer_lifetime_value").count().head(5)

,customer,state,gender,education,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
customer_lifetime_value,,,,,,,,,,
1006460.83%,1,1,1,1,1,1,1,1,1,1
1011077.82%,1,1,1,1,1,1,1,1,1,1
1011544.62%,1,1,1,1,1,1,1,1,1,1
1016936.98%,1,1,1,1,1,1,1,1,1,1
1017133.90%,1,1,1,1,1,1,1,1,1,1

In [413]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace("%", "").astype(float)

In [414]:
df.groupby("customer_lifetime_value").count().head(5)

,customer,state,gender,education,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
customer_lifetime_value,,,,,,,,,,
200435.07,1,1,1,1,1,1,1,1,1,1
205062.35,1,1,1,1,1,1,1,1,1,1
206445.88,1,1,1,1,1,1,1,1,1,1
215017.86,1,1,1,1,1,1,1,1,1,1
216387.02,1,1,1,1,1,1,1,1,1,1

- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [415]:
df.groupby("vehicle_class").count()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount
vehicle_class,,,,,,,,,,
Four-Door Car,576,576,508,576,573,576,576,576,576,576
Luxury Car,14,14,13,14,14,14,14,14,14,14
Luxury SUV,20,20,18,20,20,20,20,20,20,20
SUV,199,199,179,199,199,199,199,199,199,199
Sports Car,57,57,52,57,57,57,57,57,57,57
Two-Door Car,205,205,184,205,205,205,205,205,205,205

In [416]:
df['vehicle_class'] = df['vehicle_class'].replace({'Sports Car':'Luxury', "Luxury Car":'Luxury', "Luxury SUV":'Luxury'})

In [417]:
df.groupby("vehicle_class").count()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount
vehicle_class,,,,,,,,,,
Four-Door Car,576,576,508,576,573,576,576,576,576,576
Luxury,91,91,83,91,91,91,91,91,91,91
SUV,199,199,179,199,199,199,199,199,199,199
Two-Door Car,205,205,184,205,205,205,205,205,205,205

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [418]:
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [419]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [420]:
df["customer_lifetime_value"]= df["customer_lifetime_value"].astype(float)

In [421]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [422]:
df["number_of_open_complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan], dtype=object)

In [423]:
df["number_of_open_complaints"] = df["number_of_open_complaints"].str[2]
df["number_of_open_complaints"]

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        2
13        1
14        2
15        1
16        0
17        0
18        0
19        0
20        0
21        1
22        0
23        3
24        0
25        0
26        0
27        0
28        2
29        1
       ...
3978    NaN
3979    NaN
3980    NaN
3981    NaN
3982    NaN
3983    NaN
3984    NaN
3985    NaN
3986    NaN
3987    NaN
3988    NaN
3989    NaN
3990    NaN
3991    NaN
3992    NaN
3993    NaN
3994    NaN
3995    NaN
3996    NaN
3997    NaN
3998    NaN
3999    NaN
4000    NaN
4001    NaN
4002    NaN
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: number_of_open_complaints, Length: 4008, dtype: object

In [424]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [425]:
df["number_of_open_complaints"]= df["number_of_open_complaints"].astype(float)

In [426]:
df.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323

In [427]:
df.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [428]:
df.isnull()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,False,False,True,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,True,False,False,False,False,False,False,False,False
12,False,False,True,False,False,False,False,False,False,False,False
13,False,False,True,False,False,False,False,False,False,False,False
14,False,False,True,False,False,False,False,False,False,False,False
15,False,False,True,False,False,False,False,False,False,False,False
16,False,False,True,False,False,False,False,False,False,False,False
17,False,False,True,False,False,False,False,False,False,False,False
18,False,False,True,False,False,False,False,False,False,False,False
19,False,False,True,False,False,False,False,False,False,False,False
20,False,False,True,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,True,False,False,False,False,False,False,False,False
23,False,False,True,False,False,False,False,False,False,False,False
24,False,False,True,False,False,False,False,False,False,False,False
25,False,False,True,False,False,False,False,False,False,False,False
26,False,False,True,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False
28,False,False,True,False,False,False,False,False,False,False,False
29,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
3978,True,True,True,True,True,True,True,True,True,True,True
3979,True,True,True,True,True,True,True,True,True,True,True
3980,True,True,True,True,True,True,True,True,True,True,True
3981,True,True,True,True,True,True,True,True,True,True,True
3982,True,True,True,True,True,True,True,True,True,True,True
3983,True,True,True,True,True,True,True,True,True,True,True
3984,True,True,True,True,True,True,True,True,True,True,True
3985,True,True,True,True,True,True,True,True,True,True,True
3986,True,True,True,True,True,True,True,True,True,True,True
3987,True,True,True,True,True,True,True,True,True,True,True
3988,True,True,True,True,True,True,True,True,True,True,True
3989,True,True,True,True,True,True,True,True,True,True,True
3990,True,True,True,True,True,True,True,True,True,True,True
3991,True,True,True,True,True,True,True,True,True,True,True
3992,True,True,True,True,True,True,True,True,True,True,True
3993,True,True,True,True,True,True,True,True,True,True,True
3994,True,True,True,True,True,True,True,True,True,True,True
3995,True,True,True,True,True,True,True,True,True,True,True
3996,True,True,True,True,True,True,True,True,True,True,True
3997,True,True,True,True,True,True,True,True,True,True,True
3998,True,True,True,True,True,True,True,True,True,True,True
3999,True,True,True,True,True,True,True,True,True,True,True
4000,True,True,True,True,True,True,True,True,True,True,True
4001,True,True,True,True,True,True,True,True,True,True,True
4002,True,True,True,True,True,True,True,True,True,True,True
4003,True,True,True,True,True,True,True,True,True,True,True
4004,True,True,True,True,True,True,True,True,True,True,True
4005,True,True,True,True,True,True,True,True,True,True,True
4006,True,True,True,True,True,True,True,True,True,True,True
4007,True,True,True,True,True,True,True,True,True,True,True

In [429]:
df.isnull().sum(axis=0)

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [442]:
df_without_null= df.dropna()
df_without_null

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
21,QK46697,Washington,M,Bachelor,617710.93,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
27,HS14476,Washington,M,College,916206.32,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
33,HD95276,Washington,F,College,473787.17,0.0,130.0,0.0,Personal Auto,SUV,23.820158
44,YD87931,Washington,M,Doctor,495165.61,46896.0,35354.0,1.0,Personal Auto,Four-Door Car,31.707317
53,NW21079,Washington,F,Master,487938.48,67163.0,61.0,2.0,Personal Auto,Two-Door Car,33.192803
85,YB66933,Washington,F,Bachelor,538275.20,77552.0,68.0,1.0,Corporate Auto,Four-Door Car,45.215059
91,OW15518,Washington,F,College,1595001.95,0.0,87.0,1.0,Personal Auto,Two-Door Car,46.041452
111,GP39118,Washington,M,High School or Below,499655.27,71600.0,63.0,0.0,Personal Auto,Two-Door Car,46.158117
114,SG20925,Washington,F,Master,518579.76,99428.0,6464.0,1.0,Personal Auto,Four-Door Car,48.046869
120,FM14335,Washington,F,College,1048491.54,61108.0,89.0,0.0,Personal Auto,Four-Door Car,49.451117
129,HS28694,Washington,F,High School or Below,282986.39,25317.0,71.0,0.0,Personal Auto,Two-Door Car,50.422181
137,LH92841,Washington,F,Bachelor,725595.38,88891.0,89.0,0.0,Personal Auto,Four-Door Car,50.528355
139,AZ95587,Arizona,F,Bachelor,1038855.32,61222.0,89.0,0.0,Special Auto,Four-Door Car,392.604371
140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
141,OJ94107,Arizona,M,Master,561906.85,50335.0,140.0,0.0,Personal Auto,SUV,456.523850
142,LP84436,California,F,High School or Below,904711.92,0.0,127.0,0.0,Personal Auto,Luxury,1087.995426
143,FF22360,Washington,F,Doctor,268731.41,82210.0,68.0,4.0,Personal Auto,Four-Door Car,51.961915
144,LM19287,Oregon,F,High School or Below,373150.46,0.0,96.0,0.0,Personal Auto,Four-Door Car,460.800000
145,ZU18643,Nevada,M,Bachelor,366077.03,64495.0,92.0,0.0,Corporate Auto,Four-Door Car,251.992083
146,AZ82578,California,F,College,792882.93,0.0,72.0,0.0,Corporate Auto,Four-Door Car,345.600000
...,...,...,...,...,...,...,...,...,...,...,...
1041,QS75550,Washington,F,Bachelor,248004.59,93383.0,62.0,0.0,Corporate Auto,Two-Door Car,244.212286
1042,SZ16483,Arizona,F,High School or Below,436137.29,79583.0,109.0,2.0,Personal Auto,Four-Door Car,523.200000
1043,VM92311,Arizona,F,High School or Below,252907.75,89129.0,64.0,0.0,Personal Auto,Four-Door Car,328.870868
1044,NJ46849,Arizona,M,College,250444.48,0.0,69.0,0.0,Personal Auto,Four-Door Car,496.800000
1045,WZ31900,Oregon,F,Bachelor,864970.06,94389.0,107.0,0.0,Corporate Auto,SUV,85.063708
1046,RG30482,Oregon,F,College,1366835.53,0.0,197.0,0.0,Personal Auto,SUV,1418.400000
1047,ZM86949,Oregon,F,High School or Below,2063508.46,84106.0,64.0,0.0,Personal Auto,Two-Door Car,334.408717
1048,QQ39596,Arizona,F,College,251753.36,0.0,69.0,0.0,Personal Auto,Four-Door Car,42.096415
1049,FH51383,California,F,High School or Below,532667.77,76717.0,66.0,0.0,Personal Auto,Two-Door Car,300.528579
1050,BJ53923,Arizona,M,High School or Below,260027.21,51978.0,66.0,0.0,Corporate Auto,Four-Door Car,144.782152
1051,CZ96653,Oregon,F,Bachelor,853479.28,47325.0,107.0,0.0,Personal Auto,SUV,64.598216
1052,FB23788,Oregon,M,High School or Below,882883.50,86721.0,111.0,0.0,Corporate Auto,SUV,532.800000
1053,NT43594,Nevada,F,Bachelor,224844.96,24910.0,63.0,1.0,Personal Auto,Four-Door Car,347.857619
1054,RJ85627,Washington,F,Bachelor,1230276.24,43817.0,62.0,1.0,Personal Auto,Four-Door Car,245.447622
1055,KJ86296,Oregon,M,High School or Below,455659.30,0.0,73.0,2.0,Personal Auto,Four-Door Car,525.600000
1056,PI47776,Oregon,F,Bachelor,253070.51,89451.0,63.0,0.0,Corporate Auto,Four-Door Car,61.769564
1057,MD73554,California,M,College,525198.40,59537.0,66.0,0.0,Personal Auto,Two-Door Car,316.800000
1058,UX92071,Oregon,M,High School or Below,674311.93,0.0,199.0,0.0,Personal Auto,Luxury,955.200000
1059,YG44474,Oregon,M,College,1401472.13,54193.0,117.0,0.0,Corporate Auto,SUV,720.752945
1060,UH45301,Oregon,M,College,943891.56,86946.0,118.0,0.0,Personal Auto,Four-Door Car,340.656963
1061,RY92647,California,F,Bachelor,1050677.17,0.0,92.0,0.0,Personal Auto,Four-Door Car,546.524896
1062,IK12620,Arizona,F,High School or Below,421391.86,12160.0,109.0,0.0,Personal Auto,Four-Door Car,489.411833
1063,GQ66762,California,M,College,477368.64,33701.0,63.0,0.0,Personal Auto,Four-Door Car,171.325856
1064,YT69858,Washington,F,Bachelor,544142.01,85702.0,67.0,0.0,Personal Auto,Two-Door Car,249.085887
1065,XD85577,California,M,Bachelor,284226.69,69417.0,73.0,1.0,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [443]:
df_without_null.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [444]:
df_without_null.duplicated()

1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
21      False
27      False
33      False
44      False
53      False
85      False
91      False
111     False
114     False
120     False
129     False
137     False
139     False
140     False
141     False
142     False
143     False
144     False
145     False
146     False
        ...
1041    False
1042    False
1043    False
1044    False
1045    False
1046    False
1047    False
1048    False
1049    False
1050    False
1051    False
1052    False
1053    False
1054    False
1055    False
1056    False
1057    False
1058    False
1059    False
1060    False
1061    False
1062    False
1063    False
1064    False
1065    False
1066    False
1067    False
1068    False
1069    False
1070    False
Length: 952, dtype: bool

In [445]:
df_without_null.drop_duplicates()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
21,QK46697,Washington,M,Bachelor,617710.93,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
27,HS14476,Washington,M,College,916206.32,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
33,HD95276,Washington,F,College,473787.17,0.0,130.0,0.0,Personal Auto,SUV,23.820158
44,YD87931,Washington,M,Doctor,495165.61,46896.0,35354.0,1.0,Personal Auto,Four-Door Car,31.707317
53,NW21079,Washington,F,Master,487938.48,67163.0,61.0,2.0,Personal Auto,Two-Door Car,33.192803
85,YB66933,Washington,F,Bachelor,538275.20,77552.0,68.0,1.0,Corporate Auto,Four-Door Car,45.215059
91,OW15518,Washington,F,College,1595001.95,0.0,87.0,1.0,Personal Auto,Two-Door Car,46.041452
111,GP39118,Washington,M,High School or Below,499655.27,71600.0,63.0,0.0,Personal Auto,Two-Door Car,46.158117
114,SG20925,Washington,F,Master,518579.76,99428.0,6464.0,1.0,Personal Auto,Four-Door Car,48.046869
120,FM14335,Washington,F,College,1048491.54,61108.0,89.0,0.0,Personal Auto,Four-Door Car,49.451117
129,HS28694,Washington,F,High School or Below,282986.39,25317.0,71.0,0.0,Personal Auto,Two-Door Car,50.422181
137,LH92841,Washington,F,Bachelor,725595.38,88891.0,89.0,0.0,Personal Auto,Four-Door Car,50.528355
139,AZ95587,Arizona,F,Bachelor,1038855.32,61222.0,89.0,0.0,Special Auto,Four-Door Car,392.604371
140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
141,OJ94107,Arizona,M,Master,561906.85,50335.0,140.0,0.0,Personal Auto,SUV,456.523850
142,LP84436,California,F,High School or Below,904711.92,0.0,127.0,0.0,Personal Auto,Luxury,1087.995426
143,FF22360,Washington,F,Doctor,268731.41,82210.0,68.0,4.0,Personal Auto,Four-Door Car,51.961915
144,LM19287,Oregon,F,High School or Below,373150.46,0.0,96.0,0.0,Personal Auto,Four-Door Car,460.800000
145,ZU18643,Nevada,M,Bachelor,366077.03,64495.0,92.0,0.0,Corporate Auto,Four-Door Car,251.992083
146,AZ82578,California,F,College,792882.93,0.0,72.0,0.0,Corporate Auto,Four-Door Car,345.600000
...,...,...,...,...,...,...,...,...,...,...,...
1041,QS75550,Washington,F,Bachelor,248004.59,93383.0,62.0,0.0,Corporate Auto,Two-Door Car,244.212286
1042,SZ16483,Arizona,F,High School or Below,436137.29,79583.0,109.0,2.0,Personal Auto,Four-Door Car,523.200000
1043,VM92311,Arizona,F,High School or Below,252907.75,89129.0,64.0,0.0,Personal Auto,Four-Door Car,328.870868
1044,NJ46849,Arizona,M,College,250444.48,0.0,69.0,0.0,Personal Auto,Four-Door Car,496.800000
1045,WZ31900,Oregon,F,Bachelor,864970.06,94389.0,107.0,0.0,Corporate Auto,SUV,85.063708
1046,RG30482,Oregon,F,College,1366835.53,0.0,197.0,0.0,Personal Auto,SUV,1418.400000
1047,ZM86949,Oregon,F,High School or Below,2063508.46,84106.0,64.0,0.0,Personal Auto,Two-Door Car,334.408717
1048,QQ39596,Arizona,F,College,251753.36,0.0,69.0,0.0,Personal Auto,Four-Door Car,42.096415
1049,FH51383,California,F,High School or Below,532667.77,76717.0,66.0,0.0,Personal Auto,Two-Door Car,300.528579
1050,BJ53923,Arizona,M,High School or Below,260027.21,51978.0,66.0,0.0,Corporate Auto,Four-Door Car,144.782152
1051,CZ96653,Oregon,F,Bachelor,853479.28,47325.0,107.0,0.0,Personal Auto,SUV,64.598216
1052,FB23788,Oregon,M,High School or Below,882883.50,86721.0,111.0,0.0,Corporate Auto,SUV,532.800000
1053,NT43594,Nevada,F,Bachelor,224844.96,24910.0,63.0,1.0,Personal Auto,Four-Door Car,347.857619
1054,RJ85627,Washington,F,Bachelor,1230276.24,43817.0,62.0,1.0,Personal Auto,Four-Door Car,245.447622
1055,KJ86296,Oregon,M,High School or Below,455659.30,0.0,73.0,2.0,Personal Auto,Four-Door Car,525.600000
1056,PI47776,Oregon,F,Bachelor,253070.51,89451.0,63.0,0.0,Corporate Auto,Four-Door Car,61.769564
1057,MD73554,California,M,College,525198.40,59537.0,66.0,0.0,Personal Auto,Two-Door Car,316.800000
1058,UX92071,Oregon,M,High School or Below,674311.93,0.0,199.0,0.0,Personal Auto,Luxury,955.200000
1059,YG44474,Oregon,M,College,1401472.13,54193.0,117.0,0.0,Corporate Auto,SUV,720.752945
1060,UH45301,Oregon,M,College,943891.56,86946.0,118.0,0.0,Personal Auto,Four-Door Car,340.656963
1061,RY92647,California,F,Bachelor,1050677.17,0.0,92.0,0.0,Personal Auto,Four-Door Car,546.524896
1062,IK12620,Arizona,F,High School or Below,421391.86,12160.0,109.0,0.0,Personal Auto,Four-Door Car,489.411833
1063,GQ66762,California,M,College,477368.64,33701.0,63.0,0.0,Personal Auto,Four-Door Car,171.325856
1064,YT69858,Washington,F,Bachelor,544142.01,85702.0,67.0,0.0,Personal Auto,Two-Door Car,249.085887
1065,XD85577,California,M,Bachelor,284226.69,69417.0,73.0,1.0,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [455]:
df_reset = df_without_null.reset_index()
df_reset

,index,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
1,2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
2,3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
3,4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
4,5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
5,6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
6,7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
7,8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
8,9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
9,10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
10,21,QK46697,Washington,M,Bachelor,617710.93,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
11,27,HS14476,Washington,M,College,916206.32,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
12,33,HD95276,Washington,F,College,473787.17,0.0,130.0,0.0,Personal Auto,SUV,23.820158
13,44,YD87931,Washington,M,Doctor,495165.61,46896.0,35354.0,1.0,Personal Auto,Four-Door Car,31.707317
14,53,NW21079,Washington,F,Master,487938.48,67163.0,61.0,2.0,Personal Auto,Two-Door Car,33.192803
15,85,YB66933,Washington,F,Bachelor,538275.20,77552.0,68.0,1.0,Corporate Auto,Four-Door Car,45.215059
16,91,OW15518,Washington,F,College,1595001.95,0.0,87.0,1.0,Personal Auto,Two-Door Car,46.041452
17,111,GP39118,Washington,M,High School or Below,499655.27,71600.0,63.0,0.0,Personal Auto,Two-Door Car,46.158117
18,114,SG20925,Washington,F,Master,518579.76,99428.0,6464.0,1.0,Personal Auto,Four-Door Car,48.046869
19,120,FM14335,Washington,F,College,1048491.54,61108.0,89.0,0.0,Personal Auto,Four-Door Car,49.451117
20,129,HS28694,Washington,F,High School or Below,282986.39,25317.0,71.0,0.0,Personal Auto,Two-Door Car,50.422181
21,137,LH92841,Washington,F,Bachelor,725595.38,88891.0,89.0,0.0,Personal Auto,Four-Door Car,50.528355
22,139,AZ95587,Arizona,F,Bachelor,1038855.32,61222.0,89.0,0.0,Special Auto,Four-Door Car,392.604371
23,140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
24,141,OJ94107,Arizona,M,Master,561906.85,50335.0,140.0,0.0,Personal Auto,SUV,456.523850
25,142,LP84436,California,F,High School or Below,904711.92,0.0,127.0,0.0,Personal Auto,Luxury,1087.995426
26,143,FF22360,Washington,F,Doctor,268731.41,82210.0,68.0,4.0,Personal Auto,Four-Door Car,51.961915
27,144,LM19287,Oregon,F,High School or Below,373150.46,0.0,96.0,0.0,Personal Auto,Four-Door Car,460.800000
28,145,ZU18643,Nevada,M,Bachelor,366077.03,64495.0,92.0,0.0,Corporate Auto,Four-Door Car,251.992083
29,146,AZ82578,California,F,College,792882.93,0.0,72.0,0.0,Corporate Auto,Four-Door Car,345.600000
...,...,...,...,...,...,...,...,...,...,...,...,...
922,1041,QS75550,Washington,F,Bachelor,248004.59,93383.0,62.0,0.0,Corporate Auto,Two-Door Car,244.212286
923,1042,SZ16483,Arizona,F,High School or Below,436137.29,79583.0,109.0,2.0,Personal Auto,Four-Door Car,523.200000
924,1043,VM92311,Arizona,F,High School or Below,252907.75,89129.0,64.0,0.0,Personal Auto,Four-Door Car,328.870868
925,1044,NJ46849,Arizona,M,College,250444.48,0.0,69.0,0.0,Personal Auto,Four-Door Car,496.800000
926,1045,WZ31900,Oregon,F,Bachelor,864970.06,94389.0,107.0,0.0,Corporate Auto,SUV,85.063708
927,1046,RG30482,Oregon,F,College,1366835.53,0.0,197.0,0.0,Personal Auto,SUV,1418.400000
928,1047,ZM86949,Oregon,F,High School or Below,2063508.46,84106.0,64.0,0.0,Personal Auto,Two-Door Car,334.408717
929,1048,QQ39596,Arizona,F,College,251753.36,0.0,69.0,0.0,Personal Auto,Four-Door Car,42.096415
930,1049,FH51383,California,F,High School or Below,532667.77,76717.0,66.0,0.0,Personal Auto,Two-Door Car,300.528579
931,1050,BJ53923,Arizona,M,High School or Below,260027.21,51978.0,66.0,0.0,Corporate Auto,Four-Door Car,144.782152
932,1051,CZ96653,Oregon,F,Bachelor,853479.28,47325.0,107.0,0.0,Personal Auto,SUV,64.598216
933,1052,FB23788,Oregon,M,High School or Below,882883.50,86721.0,111.0,0.0,Corporate Auto,SUV,532.800000
934,1053,NT43594,Nevada,F,Bachelor,224844.96,24910.0,63.0,1.0,Personal Auto,Four-Door Car,347.857619
935,1054,RJ85627,Washington,F,Bachelor,1230276.24,43817.0,62.0,1.0,Personal Auto,Four-Door Car,245.447622
936,1055,KJ86296,Oregon,M,High School or Below,455659.30,0.0,73.0,2.0,Personal Auto,Four-Door Car,525.600000
937,1056,PI47776,Oregon,F,Bachelor,253070.51,89451.0,63.0,0.0,Corporate Auto,Four-Door Car,61.769564
938,1057,MD73554,California,M,College,525198.40,59537.0,66.0,0.0,Personal Auto,Two-Door Car,316.800000
939,1058,UX92071,Oregon,M,High School or Below,674311.93,0.0,199.0,0.0,Personal Auto,Luxury,955.200000
940,1059,YG44474,Oregon,M,College,1401472.13,54193.0,117.0,0.0,Corporate Auto,SUV,720.752945
941,1060,UH45301,Oregon,M,College,943891.56,86946.0,118.0,0.0,Personal Auto,Four-Door Car,340.656963
942,1061,RY92647,California,F,Bachelor,1050677.17,0.0,92.0,0.0,Personal Auto,Four-Door Car,546.524896
943,1062,IK12620,Arizona,F,High School or Below,421391.86,12160.0,109.0,0.0,Personal Auto,Four-Door Car,489.411833
944,1063,GQ66762,California,M,College,477368.64,33701.0,63.0,0.0,Personal Auto,Four-Door Car,171.325856
945,1064,YT69858,Washington,F,Bachelor,544142.01,85702.0,67.0,0.0,Personal Auto,Two-Door Car,249.085887
946,1065,XD85577,California,M,Bachelor,284226.69,69417.0,73.0,1.0,Personal Auto,Four-Door Car,30.874869
947,1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
948,1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
949,1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
950,1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
951,1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [456]:
# Para mantener la última línea duplicada
df_reset.drop_duplicates(keep='last')

,index,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
1,2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
2,3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
3,4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
4,5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
5,6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
6,7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
7,8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
8,9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
9,10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
10,21,QK46697,Washington,M,Bachelor,617710.93,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
11,27,HS14476,Washington,M,College,916206.32,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
12,33,HD95276,Washington,F,College,473787.17,0.0,130.0,0.0,Personal Auto,SUV,23.820158
13,44,YD87931,Washington,M,Doctor,495165.61,46896.0,35354.0,1.0,Personal Auto,Four-Door Car,31.707317
14,53,NW21079,Washington,F,Master,487938.48,67163.0,61.0,2.0,Personal Auto,Two-Door Car,33.192803
15,85,YB66933,Washington,F,Bachelor,538275.20,77552.0,68.0,1.0,Corporate Auto,Four-Door Car,45.215059
16,91,OW15518,Washington,F,College,1595001.95,0.0,87.0,1.0,Personal Auto,Two-Door Car,46.041452
17,111,GP39118,Washington,M,High School or Below,499655.27,71600.0,63.0,0.0,Personal Auto,Two-Door Car,46.158117
18,114,SG20925,Washington,F,Master,518579.76,99428.0,6464.0,1.0,Personal Auto,Four-Door Car,48.046869
19,120,FM14335,Washington,F,College,1048491.54,61108.0,89.0,0.0,Personal Auto,Four-Door Car,49.451117
20,129,HS28694,Washington,F,High School or Below,282986.39,25317.0,71.0,0.0,Personal Auto,Two-Door Car,50.422181
21,137,LH92841,Washington,F,Bachelor,725595.38,88891.0,89.0,0.0,Personal Auto,Four-Door Car,50.528355
22,139,AZ95587,Arizona,F,Bachelor,1038855.32,61222.0,89.0,0.0,Special Auto,Four-Door Car,392.604371
23,140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
24,141,OJ94107,Arizona,M,Master,561906.85,50335.0,140.0,0.0,Personal Auto,SUV,456.523850
25,142,LP84436,California,F,High School or Below,904711.92,0.0,127.0,0.0,Personal Auto,Luxury,1087.995426
26,143,FF22360,Washington,F,Doctor,268731.41,82210.0,68.0,4.0,Personal Auto,Four-Door Car,51.961915
27,144,LM19287,Oregon,F,High School or Below,373150.46,0.0,96.0,0.0,Personal Auto,Four-Door Car,460.800000
28,145,ZU18643,Nevada,M,Bachelor,366077.03,64495.0,92.0,0.0,Corporate Auto,Four-Door Car,251.992083
29,146,AZ82578,California,F,College,792882.93,0.0,72.0,0.0,Corporate Auto,Four-Door Car,345.600000
...,...,...,...,...,...,...,...,...,...,...,...,...
922,1041,QS75550,Washington,F,Bachelor,248004.59,93383.0,62.0,0.0,Corporate Auto,Two-Door Car,244.212286
923,1042,SZ16483,Arizona,F,High School or Below,436137.29,79583.0,109.0,2.0,Personal Auto,Four-Door Car,523.200000
924,1043,VM92311,Arizona,F,High School or Below,252907.75,89129.0,64.0,0.0,Personal Auto,Four-Door Car,328.870868
925,1044,NJ46849,Arizona,M,College,250444.48,0.0,69.0,0.0,Personal Auto,Four-Door Car,496.800000
926,1045,WZ31900,Oregon,F,Bachelor,864970.06,94389.0,107.0,0.0,Corporate Auto,SUV,85.063708
927,1046,RG30482,Oregon,F,College,1366835.53,0.0,197.0,0.0,Personal Auto,SUV,1418.400000
928,1047,ZM86949,Oregon,F,High School or Below,2063508.46,84106.0,64.0,0.0,Personal Auto,Two-Door Car,334.408717
929,1048,QQ39596,Arizona,F,College,251753.36,0.0,69.0,0.0,Personal Auto,Four-Door Car,42.096415
930,1049,FH51383,California,F,High School or Below,532667.77,76717.0,66.0,0.0,Personal Auto,Two-Door Car,300.528579
931,1050,BJ53923,Arizona,M,High School or Below,260027.21,51978.0,66.0,0.0,Corporate Auto,Four-Door Car,144.782152
932,1051,CZ96653,Oregon,F,Bachelor,853479.28,47325.0,107.0,0.0,Personal Auto,SUV,64.598216
933,1052,FB23788,Oregon,M,High School or Below,882883.50,86721.0,111.0,0.0,Corporate Auto,SUV,532.800000
934,1053,NT43594,Nevada,F,Bachelor,224844.96,24910.0,63.0,1.0,Personal Auto,Four-Door Car,347.857619
935,1054,RJ85627,Washington,F,Bachelor,1230276.24,43817.0,62.0,1.0,Personal Auto,Four-Door Car,245.447622
936,1055,KJ86296,Oregon,M,High School or Below,455659.30,0.0,73.0,2.0,Personal Auto,Four-Door Car,525.600000
937,1056,PI47776,Oregon,F,Bachelor,253070.51,89451.0,63.0,0.0,Corporate Auto,Four-Door Car,61.769564
938,1057,MD73554,California,M,College,525198.40,59537.0,66.0,0.0,Personal Auto,Two-Door Car,316.800000
939,1058,UX92071,Oregon,M,High School or Below,674311.93,0.0,199.0,0.0,Personal Auto,Luxury,955.200000
940,1059,YG44474,Oregon,M,College,1401472.13,54193.0,117.0,0.0,Corporate Auto,SUV,720.752945
941,1060,UH45301,Oregon,M,College,943891.56,86946.0,118.0,0.0,Personal Auto,Four-Door Car,340.656963
942,1061,RY92647,California,F,Bachelor,1050677.17,0.0,92.0,0.0,Personal Auto,Four-Door Car,546.524896
943,1062,IK12620,Arizona,F,High School or Below,421391.86,12160.0,109.0,0.0,Personal Auto,Four-Door Car,489.411833
944,1063,GQ66762,California,M,College,477368.64,33701.0,63.0,0.0,Personal Auto,Four-Door Car,171.325856
945,1064,YT69858,Washington,F,Bachelor,544142.01,85702.0,67.0,0.0,Personal Auto,Two-Door Car,249.085887
946,1065,XD85577,California,M,Bachelor,284226.69,69417.0,73.0,1.0,Personal Auto,Four-Door Car,30.874869
947,1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
948,1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
949,1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
950,1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
951,1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [457]:
df_cust_state = df_reset.drop_duplicates(subset=['customer', 'state'])
df_cust_state

,index,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
1,2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
2,3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
3,4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
4,5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
5,6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
6,7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
7,8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
8,9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
9,10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
10,21,QK46697,Washington,M,Bachelor,617710.93,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
11,27,HS14476,Washington,M,College,916206.32,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
12,33,HD95276,Washington,F,College,473787.17,0.0,130.0,0.0,Personal Auto,SUV,23.820158
13,44,YD87931,Washington,M,Doctor,495165.61,46896.0,35354.0,1.0,Personal Auto,Four-Door Car,31.707317
14,53,NW21079,Washington,F,Master,487938.48,67163.0,61.0,2.0,Personal Auto,Two-Door Car,33.192803
15,85,YB66933,Washington,F,Bachelor,538275.20,77552.0,68.0,1.0,Corporate Auto,Four-Door Car,45.215059
16,91,OW15518,Washington,F,College,1595001.95,0.0,87.0,1.0,Personal Auto,Two-Door Car,46.041452
17,111,GP39118,Washington,M,High School or Below,499655.27,71600.0,63.0,0.0,Personal Auto,Two-Door Car,46.158117
18,114,SG20925,Washington,F,Master,518579.76,99428.0,6464.0,1.0,Personal Auto,Four-Door Car,48.046869
19,120,FM14335,Washington,F,College,1048491.54,61108.0,89.0,0.0,Personal Auto,Four-Door Car,49.451117
20,129,HS28694,Washington,F,High School or Below,282986.39,25317.0,71.0,0.0,Personal Auto,Two-Door Car,50.422181
21,137,LH92841,Washington,F,Bachelor,725595.38,88891.0,89.0,0.0,Personal Auto,Four-Door Car,50.528355
22,139,AZ95587,Arizona,F,Bachelor,1038855.32,61222.0,89.0,0.0,Special Auto,Four-Door Car,392.604371
23,140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
24,141,OJ94107,Arizona,M,Master,561906.85,50335.0,140.0,0.0,Personal Auto,SUV,456.523850
25,142,LP84436,California,F,High School or Below,904711.92,0.0,127.0,0.0,Personal Auto,Luxury,1087.995426
26,143,FF22360,Washington,F,Doctor,268731.41,82210.0,68.0,4.0,Personal Auto,Four-Door Car,51.961915
27,144,LM19287,Oregon,F,High School or Below,373150.46,0.0,96.0,0.0,Personal Auto,Four-Door Car,460.800000
28,145,ZU18643,Nevada,M,Bachelor,366077.03,64495.0,92.0,0.0,Corporate Auto,Four-Door Car,251.992083
29,146,AZ82578,California,F,College,792882.93,0.0,72.0,0.0,Corporate Auto,Four-Door Car,345.600000
...,...,...,...,...,...,...,...,...,...,...,...,...
922,1041,QS75550,Washington,F,Bachelor,248004.59,93383.0,62.0,0.0,Corporate Auto,Two-Door Car,244.212286
923,1042,SZ16483,Arizona,F,High School or Below,436137.29,79583.0,109.0,2.0,Personal Auto,Four-Door Car,523.200000
924,1043,VM92311,Arizona,F,High School or Below,252907.75,89129.0,64.0,0.0,Personal Auto,Four-Door Car,328.870868
925,1044,NJ46849,Arizona,M,College,250444.48,0.0,69.0,0.0,Personal Auto,Four-Door Car,496.800000
926,1045,WZ31900,Oregon,F,Bachelor,864970.06,94389.0,107.0,0.0,Corporate Auto,SUV,85.063708
927,1046,RG30482,Oregon,F,College,1366835.53,0.0,197.0,0.0,Personal Auto,SUV,1418.400000
928,1047,ZM86949,Oregon,F,High School or Below,2063508.46,84106.0,64.0,0.0,Personal Auto,Two-Door Car,334.408717
929,1048,QQ39596,Arizona,F,College,251753.36,0.0,69.0,0.0,Personal Auto,Four-Door Car,42.096415
930,1049,FH51383,California,F,High School or Below,532667.77,76717.0,66.0,0.0,Personal Auto,Two-Door Car,300.528579
931,1050,BJ53923,Arizona,M,High School or Below,260027.21,51978.0,66.0,0.0,Corporate Auto,Four-Door Car,144.782152
932,1051,CZ96653,Oregon,F,Bachelor,853479.28,47325.0,107.0,0.0,Personal Auto,SUV,64.598216
933,1052,FB23788,Oregon,M,High School or Below,882883.50,86721.0,111.0,0.0,Corporate Auto,SUV,532.800000
934,1053,NT43594,Nevada,F,Bachelor,224844.96,24910.0,63.0,1.0,Personal Auto,Four-Door Car,347.857619
935,1054,RJ85627,Washington,F,Bachelor,1230276.24,43817.0,62.0,1.0,Personal Auto,Four-Door Car,245.447622
936,1055,KJ86296,Oregon,M,High School or Below,455659.30,0.0,73.0,2.0,Personal Auto,Four-Door Car,525.600000
937,1056,PI47776,Oregon,F,Bachelor,253070.51,89451.0,63.0,0.0,Corporate Auto,Four-Door Car,61.769564
938,1057,MD73554,California,M,College,525198.40,59537.0,66.0,0.0,Personal Auto,Two-Door Car,316.800000
939,1058,UX92071,Oregon,M,High School or Below,674311.93,0.0,199.0,0.0,Personal Auto,Luxury,955.200000
940,1059,YG44474,Oregon,M,College,1401472.13,54193.0,117.0,0.0,Corporate Auto,SUV,720.752945
941,1060,UH45301,Oregon,M,College,943891.56,86946.0,118.0,0.0,Personal Auto,Four-Door Car,340.656963
942,1061,RY92647,California,F,Bachelor,1050677.17,0.0,92.0,0.0,Personal Auto,Four-Door Car,546.524896
943,1062,IK12620,Arizona,F,High School or Below,421391.86,12160.0,109.0,0.0,Personal Auto,Four-Door Car,489.411833
944,1063,GQ66762,California,M,College,477368.64,33701.0,63.0,0.0,Personal Auto,Four-Door Car,171.325856
945,1064,YT69858,Washington,F,Bachelor,544142.01,85702.0,67.0,0.0,Personal Auto,Two-Door Car,249.085887
946,1065,XD85577,California,M,Bachelor,284226.69,69417.0,73.0,1.0,Personal Auto,Four-Door Car,30.874869
947,1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
948,1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
949,1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
950,1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
951,1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [458]:
df_cust_state.to_csv("./Cleaned Data Set 1.csv")

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [9]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

In [10]:
%reload_ext autoreload
%autoreload 2
from Funtions import clean_columns_names
from Funtions import fix_invalid_values
from Funtions import format_data_types
from Funtions import drop_null
from Funtions import drop_duplicates

In [11]:
clean_columns_names(df)
fix_invalid_values(df)
format_data_types(df)
drop_null(df)
drop_duplicates(df)
df

,index,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
1,2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
2,3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
3,4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
4,5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
5,6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
6,7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
7,8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
8,9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
9,10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
10,21,QK46697,Washington,M,Bachelor,617710.93,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
11,27,HS14476,Washington,M,College,916206.32,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
12,33,HD95276,Washington,F,College,473787.17,0.0,130.0,0.0,Personal Auto,SUV,23.820158
13,44,YD87931,Washington,M,Doctor,495165.61,46896.0,35354.0,1.0,Personal Auto,Four-Door Car,31.707317
14,53,NW21079,Washington,F,Master,487938.48,67163.0,61.0,2.0,Personal Auto,Two-Door Car,33.192803
15,85,YB66933,Washington,F,Bachelor,538275.20,77552.0,68.0,1.0,Corporate Auto,Four-Door Car,45.215059
16,91,OW15518,Washington,F,College,1595001.95,0.0,87.0,1.0,Personal Auto,Two-Door Car,46.041452
17,111,GP39118,Washington,M,High School or Below,499655.27,71600.0,63.0,0.0,Personal Auto,Two-Door Car,46.158117
18,114,SG20925,Washington,F,Master,518579.76,99428.0,6464.0,1.0,Personal Auto,Four-Door Car,48.046869
19,120,FM14335,Washington,F,College,1048491.54,61108.0,89.0,0.0,Personal Auto,Four-Door Car,49.451117
20,129,HS28694,Washington,F,High School or Below,282986.39,25317.0,71.0,0.0,Personal Auto,Two-Door Car,50.422181
21,137,LH92841,Washington,F,Bachelor,725595.38,88891.0,89.0,0.0,Personal Auto,Four-Door Car,50.528355
22,139,AZ95587,Arizona,F,Bachelor,1038855.32,61222.0,89.0,0.0,Special Auto,Four-Door Car,392.604371
23,140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
24,141,OJ94107,Arizona,M,Master,561906.85,50335.0,140.0,0.0,Personal Auto,SUV,456.523850
25,142,LP84436,California,F,High School or Below,904711.92,0.0,127.0,0.0,Personal Auto,Luxury,1087.995426
26,143,FF22360,Washington,F,Doctor,268731.41,82210.0,68.0,4.0,Personal Auto,Four-Door Car,51.961915
27,144,LM19287,Oregon,F,High School or Below,373150.46,0.0,96.0,0.0,Personal Auto,Four-Door Car,460.800000
28,145,ZU18643,Nevada,M,Bachelor,366077.03,64495.0,92.0,0.0,Corporate Auto,Four-Door Car,251.992083
29,146,AZ82578,California,F,College,792882.93,0.0,72.0,0.0,Corporate Auto,Four-Door Car,345.600000
...,...,...,...,...,...,...,...,...,...,...,...,...
922,1041,QS75550,Washington,F,Bachelor,248004.59,93383.0,62.0,0.0,Corporate Auto,Two-Door Car,244.212286
923,1042,SZ16483,Arizona,F,High School or Below,436137.29,79583.0,109.0,2.0,Personal Auto,Four-Door Car,523.200000
924,1043,VM92311,Arizona,F,High School or Below,252907.75,89129.0,64.0,0.0,Personal Auto,Four-Door Car,328.870868
925,1044,NJ46849,Arizona,M,College,250444.48,0.0,69.0,0.0,Personal Auto,Four-Door Car,496.800000
926,1045,WZ31900,Oregon,F,Bachelor,864970.06,94389.0,107.0,0.0,Corporate Auto,SUV,85.063708
927,1046,RG30482,Oregon,F,College,1366835.53,0.0,197.0,0.0,Personal Auto,SUV,1418.400000
928,1047,ZM86949,Oregon,F,High School or Below,2063508.46,84106.0,64.0,0.0,Personal Auto,Two-Door Car,334.408717
929,1048,QQ39596,Arizona,F,College,251753.36,0.0,69.0,0.0,Personal Auto,Four-Door Car,42.096415
930,1049,FH51383,California,F,High School or Below,532667.77,76717.0,66.0,0.0,Personal Auto,Two-Door Car,300.528579
931,1050,BJ53923,Arizona,M,High School or Below,260027.21,51978.0,66.0,0.0,Corporate Auto,Four-Door Car,144.782152
932,1051,CZ96653,Oregon,F,Bachelor,853479.28,47325.0,107.0,0.0,Personal Auto,SUV,64.598216
933,1052,FB23788,Oregon,M,High School or Below,882883.50,86721.0,111.0,0.0,Corporate Auto,SUV,532.800000
934,1053,NT43594,Nevada,F,Bachelor,224844.96,24910.0,63.0,1.0,Personal Auto,Four-Door Car,347.857619
935,1054,RJ85627,Washington,F,Bachelor,1230276.24,43817.0,62.0,1.0,Personal Auto,Four-Door Car,245.447622
936,1055,KJ86296,Oregon,M,High School or Below,455659.30,0.0,73.0,2.0,Personal Auto,Four-Door Car,525.600000
937,1056,PI47776,Oregon,F,Bachelor,253070.51,89451.0,63.0,0.0,Corporate Auto,Four-Door Car,61.769564
938,1057,MD73554,California,M,College,525198.40,59537.0,66.0,0.0,Personal Auto,Two-Door Car,316.800000
939,1058,UX92071,Oregon,M,High School or Below,674311.93,0.0,199.0,0.0,Personal Auto,Luxury,955.200000
940,1059,YG44474,Oregon,M,College,1401472.13,54193.0,117.0,0.0,Corporate Auto,SUV,720.752945
941,1060,UH45301,Oregon,M,College,943891.56,86946.0,118.0,0.0,Personal Auto,Four-Door Car,340.656963
942,1061,RY92647,California,F,Bachelor,1050677.17,0.0,92.0,0.0,Personal Auto,Four-Door Car,546.524896
943,1062,IK12620,Arizona,F,High School or Below,421391.86,12160.0,109.0,0.0,Personal Auto,Four-Door Car,489.411833
944,1063,GQ66762,California,M,College,477368.64,33701.0,63.0,0.0,Personal Auto,Four-Door Car,171.325856
945,1064,YT69858,Washington,F,Bachelor,544142.01,85702.0,67.0,0.0,Personal Auto,Two-Door Car,249.085887
946,1065,XD85577,California,M,Bachelor,284226.69,69417.0,73.0,1.0,Personal Auto,Four-Door Car,30.874869
947,1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
948,1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
949,1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
950,1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
951,1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [12]:
df

,index,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
1,2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
2,3,WW63253,California,M,Bachelor,764586.18,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
3,4,GA49547,Washington,M,High School or Below,536307.65,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
4,5,OC83172,Oregon,F,Bachelor,825629.78,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
5,6,XZ87318,Oregon,F,College,538089.86,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
6,7,CF85061,Arizona,M,Master,721610.03,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
7,8,DY87989,Oregon,M,Bachelor,2412750.40,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
8,9,BQ94931,Oregon,F,College,738817.81,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
9,10,SX51350,California,M,College,473899.20,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
10,21,QK46697,Washington,M,Bachelor,617710.93,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
11,27,HS14476,Washington,M,College,916206.32,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
12,33,HD95276,Washington,F,College,473787.17,0.0,130.0,0.0,Personal Auto,SUV,23.820158
13,44,YD87931,Washington,M,Doctor,495165.61,46896.0,35354.0,1.0,Personal Auto,Four-Door Car,31.707317
14,53,NW21079,Washington,F,Master,487938.48,67163.0,61.0,2.0,Personal Auto,Two-Door Car,33.192803
15,85,YB66933,Washington,F,Bachelor,538275.20,77552.0,68.0,1.0,Corporate Auto,Four-Door Car,45.215059
16,91,OW15518,Washington,F,College,1595001.95,0.0,87.0,1.0,Personal Auto,Two-Door Car,46.041452
17,111,GP39118,Washington,M,High School or Below,499655.27,71600.0,63.0,0.0,Personal Auto,Two-Door Car,46.158117
18,114,SG20925,Washington,F,Master,518579.76,99428.0,6464.0,1.0,Personal Auto,Four-Door Car,48.046869
19,120,FM14335,Washington,F,College,1048491.54,61108.0,89.0,0.0,Personal Auto,Four-Door Car,49.451117
20,129,HS28694,Washington,F,High School or Below,282986.39,25317.0,71.0,0.0,Personal Auto,Two-Door Car,50.422181
21,137,LH92841,Washington,F,Bachelor,725595.38,88891.0,89.0,0.0,Personal Auto,Four-Door Car,50.528355
22,139,AZ95587,Arizona,F,Bachelor,1038855.32,61222.0,89.0,0.0,Special Auto,Four-Door Car,392.604371
23,140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
24,141,OJ94107,Arizona,M,Master,561906.85,50335.0,140.0,0.0,Personal Auto,SUV,456.523850
25,142,LP84436,California,F,High School or Below,904711.92,0.0,127.0,0.0,Personal Auto,Luxury,1087.995426
26,143,FF22360,Washington,F,Doctor,268731.41,82210.0,68.0,4.0,Personal Auto,Four-Door Car,51.961915
27,144,LM19287,Oregon,F,High School or Below,373150.46,0.0,96.0,0.0,Personal Auto,Four-Door Car,460.800000
28,145,ZU18643,Nevada,M,Bachelor,366077.03,64495.0,92.0,0.0,Corporate Auto,Four-Door Car,251.992083
29,146,AZ82578,California,F,College,792882.93,0.0,72.0,0.0,Corporate Auto,Four-Door Car,345.600000
...,...,...,...,...,...,...,...,...,...,...,...,...
922,1041,QS75550,Washington,F,Bachelor,248004.59,93383.0,62.0,0.0,Corporate Auto,Two-Door Car,244.212286
923,1042,SZ16483,Arizona,F,High School or Below,436137.29,79583.0,109.0,2.0,Personal Auto,Four-Door Car,523.200000
924,1043,VM92311,Arizona,F,High School or Below,252907.75,89129.0,64.0,0.0,Personal Auto,Four-Door Car,328.870868
925,1044,NJ46849,Arizona,M,College,250444.48,0.0,69.0,0.0,Personal Auto,Four-Door Car,496.800000
926,1045,WZ31900,Oregon,F,Bachelor,864970.06,94389.0,107.0,0.0,Corporate Auto,SUV,85.063708
927,1046,RG30482,Oregon,F,College,1366835.53,0.0,197.0,0.0,Personal Auto,SUV,1418.400000
928,1047,ZM86949,Oregon,F,High School or Below,2063508.46,84106.0,64.0,0.0,Personal Auto,Two-Door Car,334.408717
929,1048,QQ39596,Arizona,F,College,251753.36,0.0,69.0,0.0,Personal Auto,Four-Door Car,42.096415
930,1049,FH51383,California,F,High School or Below,532667.77,76717.0,66.0,0.0,Personal Auto,Two-Door Car,300.528579
931,1050,BJ53923,Arizona,M,High School or Below,260027.21,51978.0,66.0,0.0,Corporate Auto,Four-Door Car,144.782152
932,1051,CZ96653,Oregon,F,Bachelor,853479.28,47325.0,107.0,0.0,Personal Auto,SUV,64.598216
933,1052,FB23788,Oregon,M,High School or Below,882883.50,86721.0,111.0,0.0,Corporate Auto,SUV,532.800000
934,1053,NT43594,Nevada,F,Bachelor,224844.96,24910.0,63.0,1.0,Personal Auto,Four-Door Car,347.857619
935,1054,RJ85627,Washington,F,Bachelor,1230276.24,43817.0,62.0,1.0,Personal Auto,Four-Door Car,245.447622
936,1055,KJ86296,Oregon,M,High School or Below,455659.30,0.0,73.0,2.0,Personal Auto,Four-Door Car,525.600000
937,1056,PI47776,Oregon,F,Bachelor,253070.51,89451.0,63.0,0.0,Corporate Auto,Four-Door Car,61.769564
938,1057,MD73554,California,M,College,525198.40,59537.0,66.0,0.0,Personal Auto,Two-Door Car,316.800000
939,1058,UX92071,Oregon,M,High School or Below,674311.93,0.0,199.0,0.0,Personal Auto,Luxury,955.200000
940,1059,YG44474,Oregon,M,College,1401472.13,54193.0,117.0,0.0,Corporate Auto,SUV,720.752945
941,1060,UH45301,Oregon,M,College,943891.56,86946.0,118.0,0.0,Personal Auto,Four-Door Car,340.656963
942,1061,RY92647,California,F,Bachelor,1050677.17,0.0,92.0,0.0,Personal Auto,Four-Door Car,546.524896
943,1062,IK12620,Arizona,F,High School or Below,421391.86,12160.0,109.0,0.0,Personal Auto,Four-Door Car,489.411833
944,1063,GQ66762,California,M,College,477368.64,33701.0,63.0,0.0,Personal Auto,Four-Door Car,171.325856
945,1064,YT69858,Washington,F,Bachelor,544142.01,85702.0,67.0,0.0,Personal Auto,Two-Door Car,249.085887
946,1065,XD85577,California,M,Bachelor,284226.69,69417.0,73.0,1.0,Personal Auto,Four-Door Car,30.874869
947,1066,TM65736,Oregon,M,Master,305955.03,38644.0,78.0,1.0,Personal Auto,Four-Door Car,361.455219
948,1067,VJ51327,California,F,High School or Below,2031499.76,63209.0,102.0,2.0,Personal Auto,SUV,207.320041
949,1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000
950,1069,CW49887,California,F,Master,462680.11,79487.0,114.0,0.0,Special Auto,SUV,547.200000
951,1070,MY31220,California,F,College,899704.02,54230.0,112.0,0.0,Personal Auto,Two-Door Car,537.600000

In [16]:
customer_retemtop = df[["total_claim_amount", "customer_lifetime_value"]]
customer_retemtop

     total_claim_amount  customer_lifetime_value
0           1131.464935                697953.59
1            566.472247               1288743.17
2            529.881344                764586.18
3             17.269323                536307.65
4            159.383042                825629.78
5            321.600000                538089.86
6            363.029680                721610.03
7            511.200000               2412750.40
8            425.527834                738817.81
9            482.400000                473899.20
10            20.382876                617710.93
11            20.985105                916206.32
12            23.820158                473787.17
13            31.707317                495165.61
14            33.192803                487938.48
15            45.215059                538275.20
16            46.041452               1595001.95
17            46.158117                499655.27
18            48.046869                518579.76
19            49.451117               1048491.54
20            50.422181                282986.39
21            50.528355                725595.38
22           392.604371               1038855.32
23           721.242206                247012.12
24           456.523850                561906.85
25          1087.995426                904711.92
26            51.961915                268731.41
27           460.800000                373150.46
28           251.992083                366077.03
29           345.600000                792882.93
..                  ...                      ...
922          244.212286                248004.59
923          523.200000                436137.29
924          328.870868                252907.75
925          496.800000                250444.48
926           85.063708                864970.06
927         1418.400000               1366835.53
928          334.408717               2063508.46
929           42.096415                251753.36
930          300.528579                532667.77
931          144.782152                260027.21
932           64.598216                853479.28
933          532.800000                882883.50
934          347.857619                224844.96
935          245.447622               1230276.24
936          525.600000                455659.30
937           61.769564                253070.51
938          316.800000                525198.40
939          955.200000                674311.93
940          720.752945               1401472.13
941          340.656963                943891.56
942          546.524896               1050677.17
943          489.411833                421391.86
944          171.325856                477368.64
945          249.085887                544142.01
946           30.874869                284226.69
947          361.455219                305955.03
948          207.320041               2031499.76
949          633.600000                323912.47
950          547.200000                462680.11
951          537.600000                899704.02

[952 rows x 2 columns]

In [15]:
customer_retemtop.describe()

       total_claim_amount  customer_lifetime_value
count          952.000000             9.520000e+02
mean           404.999156             7.942013e+05
std            299.238726             6.258792e+05
min              0.382107             2.004351e+05
25%            196.724587             4.117836e+05
50%            350.400000             5.885745e+05
75%            534.000000             9.037509e+05
max           2893.239678             4.479547e+06

In [33]:
mayor_75 = df[df["total_claim_amount"] >= df["total_claim_amount"].quantile(0.75)]
filtrados = mayor_75[mayor_75["customer_lifetime_value"] < df["customer_lifetime_value"].quantile(0.25)]

In [37]:
print(filtrados[["total_claim_amount","customer_lifetime_value"]].describe())

       total_claim_amount  customer_lifetime_value
count           35.000000                35.000000
mean           712.065602            343009.593714
std            145.436339             57540.924326
min            537.600000            228759.690000
25%            631.919877            299913.535000
50%            679.368378            366737.500000
75%            757.535488            386921.190000
max           1185.988301            407913.270000

In [38]:
filtrados

,index,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
23,140,DS81757,Oregon,M,College,247012.12,0.0,74.0,0.0,Personal Auto,Two-Door Car,721.242206
41,158,KA61892,Arizona,M,College,387364.70,28142.0,105.0,0.0,Personal Auto,Luxury,701.708239
43,160,ND87334,California,M,High School or Below,228759.69,0.0,63.0,0.0,Corporate Auto,Two-Door Car,679.368378
53,170,TS19868,California,M,College,241313.97,27501.0,63.0,0.0,Personal Auto,Four-Door Car,542.319401
62,179,HH90090,California,F,Bachelor,407663.47,29549.0,104.0,0.0,Personal Auto,Luxury,710.433775
67,184,AB13432,California,M,Bachelor,373583.81,0.0,110.0,0.0,Personal Auto,SUV,792.000000
87,204,FL34139,California,M,High School or Below,368811.09,0.0,63.0,3.0,Personal Auto,Four-Door Car,669.682001
133,250,IA63417,Arizona,F,High School or Below,400151.91,19782.0,108.0,0.0,Personal Auto,Two-Door Car,773.470977
152,269,VZ51506,Arizona,F,High School or Below,359531.29,0.0,103.0,0.0,Corporate Auto,Luxury,741.600000
162,279,OH60605,Oregon,F,High School or Below,365253.24,39679.0,92.0,0.0,Personal Auto,Two-Door Car,641.388616
187,304,RR77985,Oregon,F,Bachelor,288774.23,0.0,80.0,0.0,Personal Auto,Four-Door Car,676.944023
271,388,JF36291,California,M,College,387364.70,28142.0,105.0,0.0,Personal Auto,Luxury,701.708239
298,415,ZF84449,Oregon,F,College,372672.80,0.0,112.0,1.0,Special Auto,Luxury,806.400000
331,448,NL93182,Nevada,M,Bachelor,254945.00,0.0,78.0,0.0,Corporate Auto,Four-Door Car,845.654042
332,450,WE68644,Oregon,F,Bachelor,380392.18,20325.0,100.0,0.0,Personal Auto,Luxury,668.293970
349,467,AU96286,Oregon,F,Bachelor,316765.84,0.0,92.0,0.0,Corporate Auto,Four-Door Car,662.400000
355,473,QK31192,Arizona,M,High School or Below,407913.27,0.0,114.0,0.0,Corporate Auto,Two-Door Car,631.124372
368,486,FY51713,Arizona,F,Bachelor,357076.05,56168.0,88.0,0.0,Personal Auto,Four-Door Car,614.675906
382,500,XN11823,Nevada,F,Bachelor,376446.51,92600.0,94.0,0.0,Corporate Auto,Two-Door Car,842.437850
384,502,PX17116,Nevada,M,College,362345.42,0.0,111.0,2.0,Corporate Auto,SUV,1171.931170
447,565,XS12556,California,F,College,368309.99,0.0,101.0,0.0,Corporate Auto,Luxury,564.466556
472,590,UK41984,Arizona,F,Doctor,383960.61,0.0,112.0,2.0,Personal Auto,SUV,537.600000
475,593,ZK21724,Oregon,F,High School or Below,401654.20,0.0,111.0,0.0,Personal Auto,SUV,799.200000
520,638,DM95829,California,M,College,252395.96,16244.0,68.0,0.0,Personal Auto,Two-Door Car,623.223617
527,645,JA41698,Nevada,M,Bachelor,309953.80,0.0,102.0,5.0,Corporate Auto,SUV,862.762957
551,669,ED50963,California,F,High School or Below,268886.40,32808.0,68.0,1.0,Personal Auto,Four-Door Car,541.695658
591,709,NZ15548,Oregon,M,Bachelor,402381.44,41833.0,103.0,0.0,Personal Auto,Four-Door Car,643.826716
670,788,TE13577,Oregon,F,College,231973.59,0.0,64.0,0.0,Personal Auto,Four-Door Car,632.715382
735,853,TV25678,Washington,M,College,354090.43,0.0,101.0,0.0,Personal Auto,SUV,727.200000
773,891,KJ87930,California,F,Bachelor,388650.48,0.0,112.0,0.0,Corporate Auto,SUV,1185.988301
790,908,XM72420,Arizona,F,High School or Below,391936.67,66676.0,97.0,0.0,Personal Auto,Four-Door Car,558.099357
831,949,TD10493,Oregon,F,High School or Below,289873.27,0.0,96.0,4.0,Personal Auto,Four-Door Car,691.200000
900,1019,OT52034,California,M,Bachelor,386477.68,24204.0,99.0,1.0,Personal Auto,Four-Door Car,707.303416
903,1022,UI73201,California,M,College,366737.50,62375.0,92.0,0.0,Personal Auto,Two-Door Car,618.630955
949,1068,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0.0,Personal Auto,Four-Door Car,633.600000